<h1>hello!</h1>

<%  if type == :new
        action_txt = cats_url

    else
        action_txt = cat_url(cat)
    end
%>
    

<form action="<%=action_txt%>" method="post">
<% unless type != :edit %>
    <input type="hidden" name ="_method" value="patch">
<% end %>
<label>name:
    <input type="text" name="cat[name]" value="<%=cat.name%>">
</label>
<br>
<label>sex:
    <input type="radio" name="cat[sex]" <%=cat.sex =="M"  ? "checked" : "" %> value="M"> Male
    <input type="radio" name="cat[sex]" <%=cat.sex== "F"  ? "checked" : "" %> value="F"> Female
</label>
<br>
<label>color:
    <select name="cat[color]">
    <option disabled <%=cat.color  ? "" : "selected" %>>---select a color---</option>
    <option value="white" <%=cat.color=="white"? "selected" : "" %>>white</option>
    <option value="black" <%=cat.color=="black"? "selected" : "" %>>black</option>
    <option value="red" <%=cat.color=="red"? "selected" : "" %>>red</option>
    <option value="grey" <%=cat.color=="grey"? "selected" : "" %>>grey</option>
    <option value="cream" <%=cat.color=="cream"? "selected" : "" %>>cream</option>
    </select>
</label>
<br>
<label>birth date:
    <input type="date" name="cat[birth_date]" value="<%=cat.birth_date%>">
</label>
<br>
<label>description:
    <textarea name="cat[description]"><%=cat.description%>
    </textarea>
</label>

<input type="submit" value="Submit">






</form>